header{
  background-color: #cfc7f8;
}

img{
  width: auto;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  padding-top: 5%;
  padding-bottom: 5%;
}

.App{
  min-height: 100vh;
  background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button{
  background: rgb(228, 170, 233);
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.copyRight{
  background-color: #ebbba7;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.myname{

  text-align: left;
  width: 40%;
  padding: 0px;
  background-color: #ebbba7;
  color: black;
  font-size: 20px;
  font-weight: 300;
  margin:0;
}
